.elementor-4666 .elementor-element.elementor-element-5857b044 > .elementor-container {
    max-width: 1140px;
}

.elementor-4666 .elementor-element.elementor-element-5857b044 {
    background-color: #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 200px 0px;
}

.elementor-4666 .elementor-element.elementor-element-5857b044 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-e66ff66 {
    margin-top: 1px;
    margin-bottom: -80px;
}

.elementor-4666 .elementor-element.elementor-element-181e448d > .elementor-element-populated {
    padding: 020px 100px 120px 20px;
}

.elementor-4666 .elementor-element.elementor-element-2d855d6c .elementor-divider-separator {
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: #f46a33;
    width: 100px;
}

.elementor-4666 .elementor-element.elementor-element-2d855d6c .elementor-divider {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-4666 .elementor-element.elementor-element-6fccf455 > .elementor-widget-container {
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-61f3b6a a.elementor-button,
.elementor-4666 .elementor-element.elementor-element-61f3b6a .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f46a33;
    border-radius: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-54be1103 > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
}

.elementor-4666 .elementor-element.elementor-element-2fde5e86 > .elementor-container {
    max-width: 700px;
}

.elementor-4666 .elementor-element.elementor-element-f6c6991 > .elementor-container {
    max-width: 1100px;
}

.elementor-4666 .elementor-element.elementor-element-f6c6991 {
    background-color: #1f2024;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-f6c6991 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-5f28b4b7 > .elementor-element-populated {
    background-color: #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -81px 0px 0px 0px;
    padding: 80px 80px 80px 80px;
}

.elementor-4666 .elementor-element.elementor-element-5f28b4b7 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-67638adb > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-439fc89 .elementor-divider-separator {
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: #f46a33;
    width: 100px;
}

.elementor-4666 .elementor-element.elementor-element-439fc89 .elementor-divider {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-4666 .elementor-element.elementor-element-21fdcf2b > .elementor-element-populated {
    background-color: #f3f5f7;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: -80px 0px 0px 0px;
    padding: 80px 80px 80px 80px;
}

.elementor-4666 .elementor-element.elementor-element-21fdcf2b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-44f21c10 > .elementor-container {
    max-width: 700px;
}

.elementor-4666 .elementor-element.elementor-element-44f21c10 {
    background-color: #1f2024;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 85px 0px;
}

.elementor-4666 .elementor-element.elementor-element-44f21c10 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-874a993 .elementor-divider-separator {
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: #f46a33;
    width: 100px;
}

.elementor-4666 .elementor-element.elementor-element-874a993 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4666 .elementor-element.elementor-element-2de4c9b {
    text-align: center;
}

.elementor-4666 .elementor-element.elementor-element-2de4c9b.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-4666 .elementor-element.elementor-element-2de4c9b .elementor-heading-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.elementor-4666 .elementor-element.elementor-element-e083937 > .elementor-container {
    max-width: 700px;
}

.elementor-4666 .elementor-element.elementor-element-e083937 > .elementor-background-overlay {
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-e083937 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 110px 0px 120px 0px;
}

.elementor-4666 .elementor-element.elementor-element-da3c824 {
    text-align: center;
}

.elementor-4666 .elementor-element.elementor-element-da3c824 .elementor-heading-title {
    font-weight: 800;
}

.elementor-4666 .elementor-element.elementor-element-da3c824 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-ad2c450 .elementor-spacer-inner {
    height: 20px;
}

.elementor-4666 .elementor-element.elementor-element-74fc619 .elementor-divider-separator {
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: #f46a33;
    width: 100px;
}

.elementor-4666 .elementor-element.elementor-element-74fc619 .elementor-divider {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-4666 .elementor-element.elementor-element-74fc619 > .elementor-widget-container {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-4881ea3 > .elementor-widget-container {
    padding: 0px 50px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-745de4c .elementor-spacer-inner {
    height: 20px;
}

.elementor-4666 .elementor-element.elementor-element-fdf9ea8 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #f2bd54;
}

.elementor-4666 .elementor-element.elementor-element-fdf9ea8 .elementor-title {
    font-family: "Poppins", Sans-serif;
}

.elementor-4666 .elementor-element.elementor-element-fdf9ea8 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-c75e2cb .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #6ec1e4;
}

.elementor-4666 .elementor-element.elementor-element-c75e2cb .elementor-title {
    font-family: "Poppins", Sans-serif;
}

.elementor-4666 .elementor-element.elementor-element-008dfe7 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #f2752e;
}

.elementor-4666 .elementor-element.elementor-element-008dfe7 .elementor-title {
    font-family: "Poppins", Sans-serif;
}

.elementor-4666 .elementor-element.elementor-element-b8af5d0 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #30374e;
}

.elementor-4666 .elementor-element.elementor-element-20e8f281 {
    background-color: #2e2c42;
    background-image: url("../../2018/07/sad-girl-1382940_1920.jpg");
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 120px 0px;
}

.elementor-4666 .elementor-element.elementor-element-20e8f281 > .elementor-background-overlay {
    background-color: #1f2024;
    opacity: 0.93;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-6a98e721 > .elementor-container {
    max-width: 700px;
}

.elementor-4666 .elementor-element.elementor-element-6a98e721 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-4666 .elementor-element.elementor-element-6a98e721 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-507ac2d1 > .elementor-element-populated {
    padding: 40px 40px 00px 40px;
}

.elementor-4666 .elementor-element.elementor-element-31c59685 {
    text-align: center;
}

.elementor-4666 .elementor-element.elementor-element-31c59685.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-4666 .elementor-element.elementor-element-627960c .elementor-divider-separator {
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: #f46a33;
    width: 100px;
}

.elementor-4666 .elementor-element.elementor-element-627960c .elementor-divider {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-4666 .elementor-element.elementor-element-627960c > .elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-4666 .elementor-element.elementor-element-5f77ac2 .elementor-counter-number-wrapper {
    color: #ffffff;
    font-family: "Libre Baskerville", Sans-serif;
}

.elementor-4666 .elementor-element.elementor-element-5f77ac2 .elementor-counter-title,
.elementor-4666 .elementor-element.elementor-element-7648bad8 .elementor-counter-title,
.elementor-4666 .elementor-element.elementor-element-6f12a46c .elementor-counter-title,
.elementor-4666 .elementor-element.elementor-element-7ed06a3d .elementor-counter-title{
    color: #fff;
    font-size: 26px;
    line-height: 30px;
}

.elementor-4666 .elementor-element.elementor-element-7648bad8 .elementor-counter-number-wrapper,
.elementor-4666 .elementor-element.elementor-element-7ed06a3d .elementor-counter-number-wrapper,
.elementor-4666 .elementor-element.elementor-element-6f12a46c .elementor-counter-number-wrapper{
    color: #ffffff;
    font-family: "Libre Baskerville", Sans-serif;
}


.elementor-4666 .elementor-element.elementor-element-17a307b > .elementor-container {
    max-width: 700px;
}

.elementor-4666 .elementor-element.elementor-element-17a307b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 100px;
    margin-bottom: 0px;
}

.elementor-4666 .elementor-element.elementor-element-17a307b > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-77c529dc > .elementor-element-populated {
    background-color: #f46a33;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px;
}

.elementor-4666 .elementor-element.elementor-element-77c529dc > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-16060a49 {
    text-align: center;
}

.elementor-4666 .elementor-element.elementor-element-16060a49.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-4666 .elementor-element.elementor-element-16060a49 .elementor-heading-title {
    font-size: 38px;
    font-weight: 700;
}

.elementor-4666 .elementor-element.elementor-element-16060a49 > .elementor-widget-container {
    margin: 0px 0px 040px 0px;
}

.elementor-4666 .elementor-element.elementor-element-40fe3ed7 a.elementor-button,
.elementor-4666 .elementor-element.elementor-element-40fe3ed7 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f76a33;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-40fe3ed7 a.elementor-button:hover,
.elementor-4666 .elementor-element.elementor-element-40fe3ed7 .elementor-button:hover {
    color: #ffffff;
    background-color: #30364d;
}

.elementor-4666 .elementor-element.elementor-element-2a526d34 {
    background-color: #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-4666 .elementor-element.elementor-element-2a526d34 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-40f52191 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child) {
    margin-bottom: 40px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290.elementor-view-stacked .elementor-icon {
    background-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290.elementor-view-framed .elementor-icon,
.elementor-4666 .elementor-element.elementor-element-7d58f290.elementor-view-default .elementor-icon {
    color: #f46a33;
    border-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290.elementor-position-right .elementor-icon-box-icon {
    margin-left: 37px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290.elementor-position-left .elementor-icon-box-icon {
    margin-right: 37px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 37px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290 .elementor-icon {
    font-size: 32px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290 .elementor-icon-box-title {
    margin-bottom: 11px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290 .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-size: 24px;
    line-height: 1.3em;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290 .elementor-icon-box-content .elementor-icon-box-description {
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-4666 .elementor-element.elementor-element-7d58f290 > .elementor-widget-container {
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: rgba(224, 224, 224, 0.36);
}

.elementor-4666 .elementor-element.elementor-element-3a291add.elementor-view-stacked .elementor-icon {
    background-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-3a291add.elementor-view-framed .elementor-icon,
.elementor-4666 .elementor-element.elementor-element-3a291add.elementor-view-default .elementor-icon {
    color: #f46a33;
    border-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-3a291add.elementor-position-right .elementor-icon-box-icon {
    margin-left: 37px;
}

.elementor-4666 .elementor-element.elementor-element-3a291add.elementor-position-left .elementor-icon-box-icon {
    margin-right: 37px;
}

.elementor-4666 .elementor-element.elementor-element-3a291add.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 37px;
}

.elementor-4666 .elementor-element.elementor-element-3a291add .elementor-icon {
    font-size: 32px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-3a291add .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-4666 .elementor-element.elementor-element-3a291add .elementor-icon-box-title {
    margin-bottom: 11px;
}

.elementor-4666 .elementor-element.elementor-element-3a291add .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-size: 26px;
    line-height: 1.3em;
}

.elementor-4666 .elementor-element.elementor-element-3a291add .elementor-icon-box-content .elementor-icon-box-description {
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-4666 .elementor-element.elementor-element-3a291add > .elementor-widget-container {
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: rgba(224, 224, 224, 0.36);
}

.elementor-4666 .elementor-element.elementor-element-7bbfc6e6 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(:last-child) {
    margin-bottom: 40px;
}

.elementor-4666 .elementor-element.elementor-element-697127db.elementor-view-stacked .elementor-icon {
    background-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-697127db.elementor-view-framed .elementor-icon,
.elementor-4666 .elementor-element.elementor-element-697127db.elementor-view-default .elementor-icon {
    color: #f46a33;
    border-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-697127db.elementor-position-right .elementor-icon-box-icon {
    margin-left: 37px;
}

.elementor-4666 .elementor-element.elementor-element-697127db.elementor-position-left .elementor-icon-box-icon {
    margin-right: 37px;
}

.elementor-4666 .elementor-element.elementor-element-697127db.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 37px;
}

.elementor-4666 .elementor-element.elementor-element-697127db .elementor-icon {
    font-size: 32px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-697127db .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-4666 .elementor-element.elementor-element-697127db .elementor-icon-box-title {
    margin-bottom: 11px;
}

.elementor-4666 .elementor-element.elementor-element-697127db .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-size: 24px;
    line-height: 1.3em;
}

.elementor-4666 .elementor-element.elementor-element-697127db .elementor-icon-box-content .elementor-icon-box-description {
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-4666 .elementor-element.elementor-element-697127db > .elementor-widget-container {
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: rgba(224, 224, 224, 0.36);
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3.elementor-view-stacked .elementor-icon {
    background-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3.elementor-view-framed .elementor-icon,
.elementor-4666 .elementor-element.elementor-element-4918b6a3.elementor-view-default .elementor-icon {
    color: #f46a33;
    border-color: #f46a33;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3.elementor-position-right .elementor-icon-box-icon {
    margin-left: 37px;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3.elementor-position-left .elementor-icon-box-icon {
    margin-right: 37px;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 37px;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3 .elementor-icon {
    font-size: 32px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3 .elementor-icon-box-title {
    margin-bottom: 11px;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3 .elementor-icon-box-content .elementor-icon-box-title {
    color: #54595f;
    font-size: 24px;
    line-height: 1.3em;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3 .elementor-icon-box-content .elementor-icon-box-description {
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-4666 .elementor-element.elementor-element-4918b6a3 > .elementor-widget-container {
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: rgba(224, 224, 224, 0.36);
}

.elementor-4666 .elementor-element.elementor-element-78ba25b {
    background-color: #1f2024;
    background-image: url("../../2018/07/adult-1851571_1920-small.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-4666 .elementor-element.elementor-element-78ba25b > .elementor-background-overlay {
    opacity: 0.37;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4666 .elementor-element.elementor-element-b7d3e3a .elementor-testimonial-content {
    color: #000;
    font-family: "Poppins", Sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.7px;
}

.elementor-4666 .elementor-element.elementor-element-b7d3e3a .elementor-testimonial-name {
    color: #3d3d3d;
}

.elementor-4666 .elementor-element.elementor-element-b7d3e3a .elementor-testimonial-job {
    color: #54595f;
}

.elementor-4666 .elementor-element.elementor-element-928addd {
    padding: 100px 0px 40px 0px;
}

.elementor-4666 .elementor-element.elementor-element-5f0a78b .elementor-divider-separator {
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: #f46a33;
    width: 100px;
}

.elementor-4666 .elementor-element.elementor-element-5f0a78b .elementor-divider {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.elementor-4666 .elementor-element.elementor-element-5f0a78b > .elementor-widget-container {
    margin: -12px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(min-width:768px) {
    .elementor-4666 .elementor-element.elementor-element-181e448d {
        width: 61.161%;
    }
    .elementor-4666 .elementor-element.elementor-element-54be1103 {
        width: 38.839%;
    }
    .elementor-4666 .elementor-element.elementor-element-5f28b4b7 {
        width: 46.636%;
    }
    .elementor-4666 .elementor-element.elementor-element-21fdcf2b {
        width: 53.364%;
    }
    .elementor-4666 .elementor-element.elementor-element-a0cf3e6 {
        width: 61.228%;
    }
    .elementor-4666 .elementor-element.elementor-element-aad0b35 {
        width: 38.772%;
    }
    .elementor-4666 .elementor-element.elementor-element-4326bc3 {
        width: 69.912%;
    }
    .elementor-4666 .elementor-element.elementor-element-b498b1e {
        width: 30.088%;
    }
}

@media(max-width:1024px) {
    .elementor-4666 .elementor-element.elementor-element-5857b044 {
        padding: 0px 0px 00px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-e66ff66 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-181e448d > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-5f28b4b7 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-21fdcf2b > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 20px 20px 00px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-44f21c10 {
        padding: 10px 0px 10px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-e083937 {
        padding: 20px 0px 10px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-da3c824 .elementor-heading-title {
        font-size: 28px;
        line-height: 1em;
    }
    .elementor-4666 .elementor-element.elementor-element-da3c824 > .elementor-widget-container {
        margin: -10px 0px 0px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-4881ea3 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-20e8f281 {
        padding: 20px 0px 0px 00px;
    }
    .elementor-4666 .elementor-element.elementor-element-6a98e721 {
        margin-top: 0px;
        margin-bottom: -20px;
    }
    .elementor-4666 .elementor-element.elementor-element-507ac2d1 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-17a307b {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-2a526d34 {
        padding: 10px 0px 1px 0px;
    }
    .elementor-4666 .elementor-element.elementor-element-78ba25b {
        padding: 00px 0px 0px 00px;
    }
    .elementor-4666 .elementor-element.elementor-element-928addd {
        padding: 00px 0px 00px 0px;
    }
}

@media(max-width:767px) {
    .elementor-4666 .elementor-element.elementor-element-181e448d > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-35a47898 .elementor-heading-title {
        font-size: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-54be1103 > .elementor-element-populated {
        padding: 20px 20px 0px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-5ab58bc5 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-5f28b4b7 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-67638adb .elementor-heading-title {
        font-size: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-32cc0591 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-6d89984 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-da3c824 .elementor-heading-title {
        font-size: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-ad2c450 .elementor-spacer-inner {
        height: 10px;
    }
    .elementor-4666 .elementor-element.elementor-element-745de4c .elementor-spacer-inner {
        height: 10px;
    }
    .elementor-4666 .elementor-element.elementor-element-507ac2d1 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-31c59685 .elementor-heading-title {
        font-size: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-77c529dc > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-16060a49 .elementor-heading-title {
        font-size: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-7d58f290 .elementor-icon-box-icon {
        margin-bottom: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-7d58f290 > .elementor-widget-container {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-3a291add .elementor-icon-box-icon {
        margin-bottom: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-3a291add > .elementor-widget-container {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-697127db .elementor-icon-box-icon {
        margin-bottom: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-697127db > .elementor-widget-container {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-4918b6a3 .elementor-icon-box-icon {
        margin-bottom: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-4918b6a3 > .elementor-widget-container {
        padding: 20px 20px 20px 20px;
    }
    .elementor-4666 .elementor-element.elementor-element-b7d3e3a .elementor-testimonial-content {
        font-size: 37px;
    }
    .elementor-4666 .elementor-element.elementor-element-93ca996 .elementor-heading-title {
        font-size: 37px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4666 .elementor-element.elementor-element-a0cf3e6 {
        width: 50%;
    }
}